@import 'styles/themes';

.container {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 30px;
  padding: 30px;
  height: max-content;
  border-radius: 50px;
  transition: all 0.2s;
  @include theme() {
    background-color: theme-get('nav-color');
  }

  @media (max-width: 480px) {
    width: 100%;
    height: 70%;
  }
}
