@import '../../styles/variables';

.container {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;

  input[type='radio'] {
    position: relative;
    width: 0;
    height: 0;
    margin: 9px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      z-index: 2;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: $primary;
      transition: all 0.2s;
      scale: 0;
    }

    &:checked {
      &:before {
        scale: 1;
      }
    }

    &:after {
      content: '';
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      top: -9px;
      left: -9px;
      background: $input-bg;
    }
  }

  p {
    font-size: 12px;
  }
}
