$primary: #1b6d56;
$error: #992626;
$pending: #FFDB8B;

$container-width: 1180px;
$input-bg: #dde9e6;

$color-bg-light: #f5f5f5;
$color-text-light: #1f2127;
$color-link-light: #1f2127;
$color-navbar-light: #ffffff;
$color-shadow-light: #ededed;
$color-button-light: white;

$color-bg-dark: #1f2127;
$color-text-dark: white;
$color-link-dark: #ffffff;
$color-navbar-dark: #2d3039;
$color-shadow-dark: #1f2127;
$color-button-dark: #3b3f4a;

$switcher-color-dark: #428673;
$switcher-color-light: #dde9e6;

$bear-background-light: #a4c5bb;
$bear-top-clip-light: #c6dad4;
$bear-bottom-clip-light: #76a79a;
$bear-light: #1b6d56;

$bear-background-dark: #5a5f72;
$bear-top-clip-dark: #3b3f4a;
$bear-bottom-clip-dark: #444856;
$bear-dark: #1f2127;

$button-opacity-light: rgba(45, 48, 57, 0.5);
$button-opacity-dark: rgba(255, 255, 255, 0.5);

$size: 16px;
